    /*
    Le style suivant permet d'éliminer les margin et padding appliqué par défaut sur certains navigateurs
    Il est généralement placé au début du CSS pour être appliqué par défaut sur les éléments n'étant pas définis plus bas
    */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    /* 
    content-box est le comportement par défaut du CSS; c'est à dire qu'une div avec width 300, padding 20 et border 5 mesurera 350 px pour 300 voulu
    300 (contenu) + 20 (paddoing gauche)+ 20 (padding droit)+ 5 (bordure gauche)+ 5 (bordure droite)

    L'instruction suivante permet de gérer correctement la taille, en définissant la taille totale de l'élément en fonction de la largeur exprimée
    Pour l'exemple ci dessus, pour obtenir 300px avec 20 de padding et 5 de border, le contenu fera 250 px
    */
    box-sizing: border-box;
}

/* BODY */


/* HEADER & FOOTER*/
header, footer { 
    background-color: blue;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

header h1, footer h3 {
    background-color: blue;
}

header a, footer a {
    background-color: blue;
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px;
}

header a:hover, footer a:hover {
    color: rgb(0, 191, 0);
}

header a:focus, footer a:not(.reseaux a):focus {
    border: 3px solid white;
}

header a:active, footer a:not(.reseaux a):active {
    color: rgb(255, 127, 0);
    border: 3px solid white;
}

/* header a:visited, footer a:visited {
    color: orange;
} */

.menu_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .reseaux, footer p, footer h2, i {
    background-color: blue;
}

footer i {
    font-size: x-large;
    margin: 15px 0;
}

footer i:active {
    font-size: xx-large;
}


/*IMAGES*/
img {
    width: 480px;
}

table img {
    width: 240px;
}


/* ARTICLES */
article {
    background-color: rgb(223, 223, 223);
    max-width: 500px;
    margin: 20px auto 50px auto;
    padding-bottom: 15px;
    border-radius: 10px;
}

article h3, p {
    background-color: rgb(223, 223, 223);
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding-top: 20px;
}

article h3 {
    color: rgb(62, 1, 131);
    border-radius: 10px;
}

article img {
    width: 80%;
    margin: 20px auto;
    display: block;
    text-align: center;
}

article .price {
    color: rgb(131, 0, 0);
    font-size: larger;
    font-weight: 900;
}

article button {
    width: 30%;
    height: 50px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    color: white;
    background-color: black;
    font-size: large;
}

article button:active {
    width: 25%;
    height: 40px;
}



/* TABLES */
.table_container {
    width: 90%;
    margin: 50px auto;
    border: 2px solid darkviolet;
    border-radius: 10px;
    overflow: hidden;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

table thead, table th, table td{
    padding: 5px;
    border: 2px solid darkviolet;
    text-align: center;
}

table th {
    background-color: darkblue;
    color: gold ;
}

table .buy {
    text-align: center;
}

table caption {
    margin: 20px;
    font-size: xx-large;
    font-weight: 900;
    color: blue;
}

/* SPAN PAGES/PRODUCTS*/
.build_your_own_comp, .latest_app {
    color: purple;
    font-size: x-large;
    font-weight: bolder;
}

.exclu {
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.categories {
    background-color: rgba(190, 201, 201, 0.322);
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-collapse: collapse;
    border: 1px solid darkviolet;

}

.categories img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.categories div {
    padding: 20px;
    text-align: center;
    border: 1px solid darkviolet;
    flex-basis: 33.333333%;
}

.categories_titre {
    text-align: center;
    margin-top: 30px;
}

/*PAGES/PRODUCTS_DETAIILS*/



/* PAGES/SIGN_UP */

form {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 15px auto;
}

form h2 {
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
}

form a {
    background-color: white;
}

form fieldset {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

form div {
    background-color: white;
    padding-bottom: 10px;
}

form legend {
    font-weight: bold;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

form label {
    background-color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.connexion input[type="text"], input[type="email"], input[type="password"], select {
    background-color: rgb(223, 223, 223);
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 10px;
    height: 30px;
}

.buy_delete_choice {
    text-align: center;
}

.optin label {
    margin-right: 15px;
}

.last_name input {
    border: 3px dotted red;
}

form .account_boutons_form {
    text-align: center;
}

form button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:focus {
    background-color: pink;
    color: black;
}

button:active {
    font-size: small;
    background-color: red;
    padding: 5px;
}

.products_container {
    display: flex;
    flex-wrap: wrap;
}

